

.thumbnail{
    width: 100%;
}
.thumbnail-row{
    position: relative;
}
.video-time{
    font-family: Roboto, Arial;
    font-size: 13px;
    font-weight: 500;
    padding: 4px;
    border-radius: 3px;
    position:absolute;
    background-color: black; 
    color: white;
    bottom: 8px;
    right: 5px;
}
.video-title{
    font-weight: 500;
    font-size: 15px;
    display: 500; 
    margin-top: 0px; 
    line-height: 20px;
    margin-bottom: 15px;
    
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}


.profile-picture{
    width: 45px;
    border-radius: 40px;
}
.video-info{
    margin-left:10px; 
}

.stats-row{
    margin-top: 15px;
}

.video-author,
.video-stats{
    color:grey;
    font-size:13px;
}
.video-author{
    margin-bottom: 3px;
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
}
@media (max-width: 750px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
